:root {
    font-family: Roboto, Arial, sans-serif;
    --primary: #40EEE9;
    --white: #ffffff;
}
html, body {
    margin: 0;
}
nav {
    position: relative;
    display: flex;
    width: 100%; height: 100px;
    background-color: var(--primary);
    justify-content: flex-end;
}
nav ul {
    position: relative;
    height: 100%;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}
nav ul li {
    position: relative;
    padding: 10px;
}
nav ul li a {
    position: relative;
    color: var(--white);
    text-decoration: none;
    padding: 10px 20px;
    font-size: 40px;
}
#ageInfo {
    display: inline;
}
main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 100px);
    justify-content: center;
    align-items: center;
}
main #container1 {
    position: relative;
    width: 60vw;
}
main #container1 select {
    position: absolute;
}
main #container1 div {
    position: absolute;
    border-radius: 100px;
    z-index: 2;
    transform: translate(-50%, -50%);
}
main #container1 div:hover {
    cursor: pointer;
}
main #container1 #grantoppen {
    width: 22%; height: 20%;
    left: 23.4%; top: 47%;
}
main #container1 #granbo {
    width: 13%; height: 15%;
    left: 44%; top: 29.5%;
}
main #container1 #granstua {
    width: 14%; height: 15%;
    left: 57.7%; top: 39.8%;
}
main #container1 #granhaug {
    width: 11%; height: 15%;
    left: 70.1%; top: 37.1%;
}
main #container1 img {
    width: 100%;
}
main #container1 .rented {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vw;
    color: red;
}
main #container1 .rented:hover {
    cursor: not-allowed;
}
main #container1 .rented i {

}
main #container2 {
    position: relative;
    width: 60vw; height: 33.75vw;
    display: none;
}
main #container2 #back, #back2 {
    font-size: 5rem;
 }
main #container2 #back:hover, #back2:hover {
    cursor: pointer;
}
/* Slideshow */
#slideshow-container {
    max-width: 40%;
    position: relative;
    margin: auto;
    background-color: black;
}
.mySlides {
    position: relative;
    display: none;
}
.mySlides img {
    position: relative;
    width: 100%;
    vertical-align: middle;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 4;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
main #container3 {
    display: none;
    position: relative;
    width: 60vw;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
main #container3 h1 {
    position: relative;
}
table {
    position: relative;
    border: none;
    border-collapse: collapse;
    text-indent: 0;
    border-spacing: 0;
}
tbody {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
}
tr {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}
td.available {
    background-color: green;
}
td.rented {
    background-color: darkred;
}
#holidays {
    display: grid;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: none;
}
#status {
    display: grid;
    border-top: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
th, td {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-collapse: collapse;
}
main #container3 button {
    display: none;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}



#video-container {
    width: 100%; height: 100vh;
    display: grid;
    place-items: center;
}
#video-container video {
    width: 60vw;
}

/* Remove arrows on numbers input */
/* Chrome, Safari, Edge and Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}